<mat-toolbar color="primary">
	<button
		mat-icon-button
		aria-label="Example icon-button with menu icon"
		class="example-icon"
		(click)="onMenuClick()"
	>
	<!-- "onMenuClick()" -> const callback = () => {onMenuClick()} -> addEventListener(..., callback) -->
		<mat-icon>menu</mat-icon>
	</button>
	<img class="shop-icon" [src]="imgSrc" />
	<!-- <img
    [style.borderColor]="'#000'"
    [style.borderWidth.px]="iconWidth"
    [src]="imgSrc"
    class="shop-icon"
    > -->
	<span>My App</span>
	<span class="example-spacer"></span>
	<button
		mat-icon-button
		aria-label="Example icon-button with heart icon"
		class="example-icon favorite-icon"
	>
		<mat-icon>favorite</mat-icon>
	</button>
	<button
		mat-icon-button
		aria-label="Example icon-button with share icon"
		class="example-icon"
		(click)="onShareClick(); $event.stopPropagation()"
	>
		<!-- "onShareClick($event)" -> const callback = ($event) => {onShareClick($event)} -> addEventListener(..., callback) -->
		<!-- "onShareClick($event)" -> const callback = ($event) => {onShareClick($event); $event.stopPropagation()} -> addEventListener(..., callback) -->
		<mat-icon>
			toggle_off
		</mat-icon>
	</button>
</mat-toolbar>

<!-- MatIconButtonComponet selector: button[mat-icon-button] -->
