<mat-form-field appearance="fill" class="example-full-width">
	<mat-label>Search</mat-label>
	<input #input matInput />
</mat-form-field>

<div *ngIf="products$ | async as products; else loader" class="container">
	<ng-container
		*appPagination="
			let productsGroup of products | filterByParam: input.value:'name';
			elementsSize: 4;
			let allIndexes = allIndexes;
			let activeIndex = index;
			let nextItem = nextItem;
			let backItem = backItem;
			let selectIndex = selectIndex
		"
	>
		<div class="card-container">
			<app-product-card
				*ngFor="let product of productsGroup; trackBy: trackBy"
				routerLink="/product"
				class="product"
				[product]="product"
			></app-product-card>
		</div>

		<div class="pagination-container">
			<button mat-icon-button (click)="backItem()">
				<mat-icon> chevron_left </mat-icon>
			</button>
			<button
				*ngFor="let index of allIndexes"
				mat-icon-button
				class="pagination__page-number"
				[class.pagination__page-number_active]="activeIndex === index"
				(click)="selectIndex(index)"
			>
				{{ index + 1 }}
			</button>
			<button mat-icon-button (click)="nextItem()">
				<mat-icon> chevron_right </mat-icon>
			</button>
		</div>
	</ng-container>
</div>

<ng-template #loader>
	<mat-spinner class="loader"></mat-spinner>
</ng-template>
