:host {
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
	width: 100%;
	min-height: 0;
}

.container {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 100%;
}

.product {
	margin: 10px;
}

.loader {
	margin: 20px auto;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination {
	&__page-number {
		cursor: pointer;

		&_active {
			color: rgb(0, 13, 255);
		}
	}
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
