<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form.value)"> -->
<form #form="ngForm">
	<mat-form-field appearance="fill" class="example-full-width">
		<mat-label>Search</mat-label>
		<input matInput ngModel name="name" />
		<!-- <input matInput [(ngModel)]="filterFormValue.name"/> -->
	</mat-form-field>

	<div ngModelGroup="brands" class="checkbox-container">
		<mat-checkbox
			*ngFor="let brand of brands; let index = index"
			[ngModel]="false"
			[name]="brand"
		>
			<!-- <mat-checkbox
			*ngFor="let brand of brands; let index = index"
			[(ngModel)]="filterFormValue.brands[index]"
		> -->
			{{ brand }}
		</mat-checkbox>
	</div>

	<div ngModelGroup="priceRange" class="price-range">
		<div>
			Min
			<app-counter-input
				name="min"
				[ngModel]="filterFormValue.priceRange.min"
			></app-counter-input>
			<!-- <app-counter-input [(ngModel)]="filterFormValue.priceRange.min"></app-counter-input> -->
		</div>
		<div>
			Max
			<app-counter-input
				name="max"
				[ngModel]="filterFormValue.priceRange.max"
			></app-counter-input>
			<!-- <app-counter-input [(ngModel)]="filterFormValue.priceRange.max"></app-counter-input> -->
		</div>
	</div>

	<button (click)="onSubmit(form.value)">Submit</button>
	<!-- <input type="submit"> -->
</form>
