<mat-card class="card">
	<mat-card-header>
		<mat-card-title>{{ product?.name }}</mat-card-title>
		<mat-card-subtitle>{{ price }} $</mat-card-subtitle>
	</mat-card-header>
	<div class="gallery">
		<button mat-icon-button>
			<mat-icon> chevron_left </mat-icon>
		</button>
		<img mat-card-image alt="Product photo" [src]="firstImgUrl" />
		<button mat-icon-button>
			<mat-icon> chevron_right </mat-icon>
		</button>
	</div>
	<div>
		<p>Отзывы: {{ feedbacksCount }}</p>
		<div class="rating">
			Рейтинг:
			<mat-icon [class.star-active]="isStarActive(1)"> star </mat-icon>
			<mat-icon [class.star-active]="isStarActive(2)"> star </mat-icon>
			<mat-icon [class.star-active]="isStarActive(3)"> star </mat-icon>
			<mat-icon [class.star-active]="isStarActive(4)"> star </mat-icon>
			<mat-icon [class.star-active]="isStarActive(5)"> star </mat-icon>
		</div>
	</div>
	<mat-card-actions class="mat-card-actions-align-end">
		<!--<button mat-button (click)="onProductBuy($event)">BUY</button>-->
		<button mat-button (click)="productBuy.emit(product?._id)">BUY</button>
	</mat-card-actions>
</mat-card>
