<!--<app-header
  [applicationConfig]="applicationConfig"
  size='m'
></app-header>-->
<app-header
	[applicationConfig]='applicationConfig'
	(menuClick)='sidenav.toggleDrawer()'
></app-header>
<!-- <app-sidenav
    [isDrawerOpened]="isDrawerOpened"
    (isDrawerOpenedChange)="isDrawerOpened = $event"
></app-sidenav> -->
<!-- <app-sidenav
    #sidenav
    [(isDrawerOpened)]="isDrawerOpened"
></app-sidenav> -->
<!--<app-sidenav #sidenav [navigationTemplate]='navigation'>-->
<app-sidenav #sidenav>
	<!--  <input type='text'>-->
	<input #input type='text'>

	<!--<div ngProjectAs="navigation">
	  <p>History</p>
	  <mat-list role="list">
		<mat-list-item role="listitem">Item 1</mat-list-item>
		<mat-list-item role="listitem">Item 2</mat-list-item>
		<mat-list-item role="listitem">Item 3</mat-list-item>
	  </mat-list>
	</div>-->

	<ng-template #navigation>
		<mat-list role='list'>
			<mat-list-item role='listitem'>Item 1</mat-list-item>
			<mat-list-item role='listitem'>Item 2</mat-list-item>
			<mat-list-item role='listitem'>Item 3</mat-list-item>
		</mat-list>
	</ng-template>
</app-sidenav>

<!--<ng-template #navigation>
  <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</ng-template>-->

<!--<app-products-list (buyClickList)="onBuyClick($event!)"></app-products-list>-->
