<!--<app-header
  [applicationConfig]="applicationConfig"
  size='m'
></app-header>-->
<app-header
	[applicationConfig]='applicationConfig'
	(menuClick)='sidenav.toggleDrawer()'
></app-header>
<!-- <app-sidenav
    [isDrawerOpened]="isDrawerOpened"
    (isDrawerOpenedChange)="isDrawerOpened = $event"
></app-sidenav> -->
<!-- <app-sidenav
    #sidenav
    [(isDrawerOpened)]="isDrawerOpened"
></app-sidenav> -->
<!--<app-sidenav #sidenav [navigationTemplate]='navigation'>-->
<app-sidenav #sidenav>
	<!--  <input type='text'>-->
	<!--	<input #input type='text'>-->
	<mat-form-field class='example-full-width'>
		<mat-label>Search</mat-label>
		<input #input matInput>
	</mat-form-field>
	<app-products-list></app-products-list>
	<!--<p
		[ngClass]="{
			'search-active': +input.value >= 2,
			'search-has-secret': input.value === '123'
		}"
	>{{input.value}}</p>-->
	<p
		[appNgClass]="{
			'search-active': +input.value >= 2,
			'search-has-secret': input.value === '123'
		}"
	>{{input.value}}</p>
	<p appInsertShadow>Test</p>

	<!--<div ngProjectAs="navigation">
	  <p>History</p>
	  <mat-list role="list">
		<mat-list-item role="listitem">Item 1</mat-list-item>
		<mat-list-item role="listitem">Item 2</mat-list-item>
		<mat-list-item role="listitem">Item 3</mat-list-item>
	  </mat-list>
	</div>-->

	<ng-template #navigation>
		<mat-list role='list'>
			<mat-list-item role='listitem'>Item 1</mat-list-item>
			<mat-list-item role='listitem'>Item 2</mat-list-item>
			<mat-list-item role='listitem'>Item 3</mat-list-item>
		</mat-list>
	</ng-template>
</app-sidenav>

<!--<ng-template #navigation>
  <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
</ng-template>-->

<!--<app-products-list (buyClickList)="onBuyClick($event!)"></app-products-list>-->
